#root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-image: radial-gradient(circle 939px at 94.7% 50%, rgb(102, 160, 161) 0%, rgb(105, 139, 180) 76.9%);
}

.mainpage{
  flex-grow: 1;
}
